<!-- page-wrapper Start-->
<div class="page-wrapper">

    <!-- Page Header Start-->
    <%- include('../partials/admin-header') %>
        <!-- Page Header Ends -->

        <!-- Page Body Start-->
        <div class="page-body-wrapper">

            <!-- Page Sidebar Start-->
            <%- include('../partials/admin-leftside') %>
                <!-- Page Sidebar Ends-->



                <div class="page-body">
                    <!-- Container-fluid starts-->
                    <div class="container-fluid">
                        <div class="page-header">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="page-header-left">
                                        <h3>Create Coupon
                                            <small>legnutz Admin panel</small>
                                        </h3>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <ol class="breadcrumb pull-right">
                                        <li class="breadcrumb-item">
                                            <a href="/admin">
                                                <i data-feather="home"></i>
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item">Coupons </li>
                                        <li class="breadcrumb-item active">Create Coupon</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Container-fluid Ends-->

                    <!-- Container-fluid starts-->
                    <div class="container-fluid">
                        <div class="card tab2-card">
                            <div class="card-body">
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade active show" id="general" role="tabpanel"
                                        aria-labelledby="general-tab">
                                        <form action="/admin/createCoupon" method="post">
                                            <div class=" row">
                                                <div class="col-sm-12">
                                                    <div class="form-group row">
                                                        <label for="validationCustom0"
                                                            class="col-xl-3 col-md-4"><span>*</span>
                                                            Coupan Title</label>
                                                        <div class="col-md-7">
                                                            <input name="couponTitle" class="form-control"
                                                                id="validationCustom0" type="text" required="">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="validationCustom1"
                                                            class="col-xl-3 col-md-4"><span>*</span>Coupan Code</label>
                                                        <div class="col-md-7">
                                                            <input name="couponCode" class="form-control"
                                                                id="validationCustom1" type="text" required="">
                                                        </div>
                                                        <div class="valid-feedback">Please Provide a Valid Coupon Code.
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-md-4">Start Date</label>
                                                        <div class="col-md-7">
                                                            <input name="startDate"
                                                                class="datepicker-here form-control digits" type="text"
                                                                data-language="en">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-md-4">End Date</label>
                                                        <div class="col-md-7">
                                                            <input name="endDate"
                                                                class="datepicker-here form-control digits" type="text"
                                                                data-language="en">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-md-4">Quantity</label>
                                                        <div class="col-md-7">
                                                            <input name="quantity" class="form-control" type="number"
                                                                required="">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-md-4">Discount Type</label>
                                                        <div class="col-md-7">
                                                            <select name="couponType"
                                                                class="custom-select w-100 form-control" required="">
                                                                <option value="">--Select--</option>
                                                                <option value="percent">Percent</option>
                                                                <option value="flat">Flat</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-md-4">Amount or Percent</label>
                                                        <div class="col-md-7">
                                                            <input name="amountOrPercent" class="form-control"
                                                                placeholder="likewise coupon type" type="number"
                                                                required="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pull-right">
                                                <button type="submit" class="btn btn-primary">create</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Container-fluid Ends-->
                </div>

                <!-- footer start-->
                <%- include('../partials/admin-footer') %>
                    <!-- footer end-->
        </div>
</div>