<!-- header start -->
<header>
	<div class="mobile-fix-option"></div>
	<div class="top-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="header-contact">
						<ul>
							<li>Welcome to Our Automotive</li>
							<li>
								<i class="fa fa-phone" aria-hidden="true"></i>Call Us: +91 7356 986777
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6 text-end">
					<ul class="header-dropdown">
						<% if (user) { %>
						<li class="mobile-wishlist">
							<a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
						</li>
						<li class="onhover-dropdown mobile-account">
							<i class="fa fa-user" aria-hidden="true"></i>
							<%= user.username %>
							<ul class="onhover-show-div">
								<li><a href="/profile">Profile</a></li>
								<li><a href="/logout">Logout</a></li>
							</ul>
						</li>
						<% } else { %>
						<li class="onhover-dropdown mobile-account">
							<i class="fa fa-user" aria-hidden="true"></i>
							My Account
							<ul class="onhover-show-div">
								<li><a href="/login">Login</a></li>
								<li><a href="/register">register</a></li>
							</ul>
						</li>
						<% } %>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="main-menu">
					<div class="menu-left">
						<div class="navbar">
							<a href="javascript:void(0)" onclick="openNav()">
								<div class="bar-style">
									<i class="fa fa-bars sidebar-bar" aria-hidden="true"></i>
								</div>
							</a>
							<div id="mySidenav" class="sidenav">
								<a
									href="javascript:void(0)"
									class="sidebar-overlay"
									onclick="closeNav()"
								></a>
								<nav>
									<div onclick="closeNav()">
										<div class="sidebar-back text-start">
											<i class="fa fa-angle-left pe-2" aria-hidden="true"></i>
											Back
										</div>
									</div>
									<ul id="sub-menu" class="sm pixelstrap sm-vertical">
										<li>
											<a href="#">clothing</a>
										</li>
										<li>
											<a href="#">bags</a>
										</li>
										<li>
											<a href="#">footwear</a>
										</li>
										<li><a href="#">watches</a></li>
										<li>
											<a href="#">Accessories</a>
										</li>
										<li><a href="#">house of design</a></li>
										<li>
											<a href="#">beauty & personal care</a>
										</li>
										<li><a href="#">home & decor</a></li>
										<li><a href="#">kitchen</a></li>
									</ul>
								</nav>
							</div>
						</div>
						<div class="brand-logo">
							<a href="/"
								><img src="/images/icon/logo.png" class="img-fluid lazyload" alt=""
							/></a>
						</div>
					</div>
					<div class="menu-right pull-right">
						<div>
							<nav id="main-nav">
								<div class="toggle-nav">
									<i class="fa fa-bars sidebar-bar"></i>
								</div>
								<ul id="main-menu" class="sm pixelstrap sm-horizontal">
									<li>
										<div class="mobile-back text-end">
											Back<i class="fa fa-angle-right ps-2" aria-hidden="true"></i>
										</div>
									</li>
									<li><a href="/">Home</a></li>
									<li>
										<a href="/go-to-shop">shop</a>
									</li>
								</ul>
							</nav>
						</div>
						<div>
							<div class="icon-nav">
								<ul>
									<li class="onhover-div mobile-search">
										<div>
											<img
												src="/images/icon/search.png"
												onclick="openSearch()"
												class="img-fluid lazyload"
												alt=""
											/>
											<i class="ti-search" onclick="openSearch()"></i>
										</div>
										<div id="search-overlay" class="search-overlay">
											<div>
												<span class="closebtn" onclick="closeSearch()" title="Close Overlay"
													>×</span
												>
												<div class="overlay-content">
													<div class="container">
														<div class="row">
															<div class="col-xl-12">
																<form>
																	<div class="form-group">
																		<input
																			type="text"
																			class="form-control"
																			id="exampleInputPassword1"
																			placeholder="Search a Product"
																		/>
																	</div>
																	<button type="submit" class="btn btn-primary">
																		<i class="fa fa-search"></i>
																	</button>
																</form>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>
									<li class="onhover-div mobile-setting">
										<div>
											<img
												src="/images/icon/setting.png"
												class="img-fluid lazyload"
												alt=""
											/>
											<i class="ti-settings"></i>
										</div>
										<div class="show-div setting">
											<h6>language</h6>
											<ul>
												<li><a href="#">english</a></li>
												<li><a href="#">french</a></li>
											</ul>
											<h6>currency</h6>
											<ul class="list-inline">
												<li><a href="#">euro</a></li>
												<li><a href="#">rupees</a></li>
												<li><a href="#">pound</a></li>
												<li><a href="#">doller</a></li>
											</ul>
										</div>
									</li>
									<% if (user) { %>
									<li class="mobile-cart">
										<a href="/cartPage">
											<div>
												<img
													src="/images/icon/cart.png"
													class="img-fluid lazyload"
													alt=""
												/>
												<i class="ti-shopping-cart"></i>
											</div>
											<span class="cart_qty_cls" id="cartCount"><%= cartCount %> </span>
										</a>
									</li>
									<% } %>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
