<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="legnutz" />
	<meta name="keywords" content="legnutz" />
	<meta name="minhaj" content="legnutz" />
	<title>multicart</title>
	<!-- Font Awesome-->
	<link rel="stylesheet" type="text/css" href="/assets/css/vendors/font-awesome.css" />

	<!-- Flag icon-->
	<link rel="stylesheet" type="text/css" href="/assets/css/vendors/flag-icon.css" />

	<!-- Liner icon -->
	<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css" />

	<!-- Bootstrap css-->
	<link rel="stylesheet" type="text/css" href="/assets/css/vendors/bootstrap.css" />

	<!-- App css-->

	<link rel="icon" href="/assets/images/dashboard/favicon.png" type="image/x-icon" />
	<link rel="shortcut icon" href="/assets/images/dashboard/favicon.png" type="image/x-icon" />

	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap" />

	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" />

	<link rel="stylesheet" type="text/css" href="/assets/css/vendors/themify-icons.css" />
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
	<link rel="stylesheet" type="text/css" href="/assets/css/vendors/slick.css" />
	<link rel="stylesheet" type="text/css" href="/assets/css/vendors/slick-theme.css" />

	<link rel="icon" href="/assets/images/dashboard/favicon.png" type="image/x-icon" />

	<link rel="shortcut icon" href="/assets/images/dashboard/favicon.png" type="image/x-icon" />

	<!-- ico-font-->
	<link rel="stylesheet" type="text/css" href="/assets/css/vendors/icofont.css" />

	<!-- Prism css-->
	<link rel="stylesheet" type="text/css" href="/assets/css/vendors/prism.css" />

	<!-- Chartist css -->
	<link rel="stylesheet" type="text/css" href="/assets/css/vendors/chartist.css" />

	<link rel="icon" href="/images/favicon/1.png" type="image/x-icon" />
	<link rel="shortcut icon" href="/images/favicon/1.png" type="image/x-icon" />

	<!--Google font-->

	<link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet" />

	<!-- Animate icon -->
	<link rel="stylesheet" type="text/css" href="/css/vendors/animate.css" />

	<!-- Theme css -->
	<link rel="stylesheet" type="text/css" href="/css/style.css" />

	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<script src="https://code.jquery.com/jquery-3.6.1.min.js"
		integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" />
	<link rel="preconnect" href="https://fonts.gstatic.com" />

	<link rel="stylesheet" type="text/css" href="/css/vendors/price-range.css" />
</head>

<body>
	<%- body %>

		<script src="/assets/js/jquery-3.3.1.min.js"></script>

		<!-- Bootstrap js-->
		<script src="/assets/js/bootstrap.bundle.min.js"></script>

		<!-- feather icon js-->
		<script src="/assets/js/icons/feather-icon/feather.min.js"></script>
		<script src="/assets/js/icons/feather-icon/feather-icon.js"></script>

		<!-- Sidebar jquery-->
		<script src="/assets/js/sidebar-menu.js"></script>

		<!--chartist js-->
		<script src="/assets/js/chart/chartist/chartist.js"></script>

		<!--chartjs js-->
		<script src="/assets/js/chart/chartjs/chart.min.js"></script>

		<!-- lazyload js-->
		<script src="/assets/js/lazysizes.min.js"></script>

		<!--copycode js-->
		<script src="/assets/js/prism/prism.min.js"></script>
		<script src="/assets/js/clipboard/clipboard.min.js"></script>
		<script src="/assets/js/custom-card/custom-card.js"></script>

		<!--counter js-->
		<script src="/assets/js/counter/jquery.waypoints.min.js"></script>
		<script src="/assets/js/counter/jquery.counterup.min.js"></script>
		<script src="/assets/js/counter/counter-custom.js"></script>

		<!--peity chart js-->
		<script src="/assets/js/chart/peity-chart/peity.jquery.js"></script>

		<!-- Apex Chart Js -->
		<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

		<!--sparkline chart js-->
		<script src="/assets/js/chart/sparkline/sparkline.js"></script>

		<!--Customizer admin-->
		<script src="/assets/js/admin-customizer.js"></script>

		<!--dashboard custom js-->
		<script src="/assets/js/dashboard/default.js"></script>

		<!--right sidebar js-->
		<script src="/assets/js/chat-menu.js"></script>

		<!--height equal js-->
		<script src="/assets/js/height-equal.js"></script>

		<!--script admin-->
		<script src="/assets/js/admin-script.js"></script>

		<!-- touchspin js-->
		<script src="/assets/js/touchspin/vendors.min.js"></script>
		<script src="/assets/js/touchspin/touchspin.js"></script>
		<script src="/assets/js/touchspin/input-groups.min.js"></script>

		<!-- form validation js-->
		<script src="/assets/js/dashboard/form-validation-custom.js"></script>

		<!-- ckeditor js-->
		<script src="/assets/js/editor/ckeditor/ckeditor.js"></script>
		<script src="/assets/js/editor/ckeditor/ckeditor.custom.js"></script>

		<!-- Zoom js-->
		<script src="/assets/js/jquery.elevatezoom.js"></script>
		<script src="/assets/js/zoom-scripts.js"></script>

		<script src="/assets/js/slick.js"></script>

		<!-- Edit, delete and add new -->
		<script src="/assets/js/edit-delete-new-product.js"></script>

		<!-- latest jquery-->
		<script src="/js/jquery-3.3.1.min.js"></script>

		<!-- menu js-->
		<script src="/js/menu.js"></script>

		<!-- lazyload js-->
		<script src="/js/lazysizes.min.js"></script>

		<!-- price range js -->
		<script src="/js/price-range.js"></script>

		<!-- slick js-->
		<script src="/js/slick.js"></script>

		<!-- Bootstrap js-->
		<script src="/js/bootstrap.bundle.min.js"></script>

		<!-- Bootstrap Notification js-->
		<script src="/js/bootstrap-notify.min.js"></script>

		<!-- Theme js-->
		<script src="/js/theme-setting.js"></script>
		<script src="/js/script.js"></script>
		<!-- sticky cart bottom js-->
		<script src="/js/sticky-cart-bottom.js"></script>

		<!-- timer js-->
		<script src="/js/jquery.elevatezoom.js"></script>

		<!-- latest jquery-->

		<!-- fly cart ui jquery-->
		<script src="/js/jquery-ui.min.js"></script>

		<!-- exitintent jquery-->
		<script src="/js/jquery.exitintent.js"></script>
		<script src="/js/exit.js"></script>

		<!-- Fly cart js-->
		<script src="/js/fly-cart.js"></script>

		<script>
			$(window).on("load", function () {
				setTimeout(function () {
					$("#exampleModal").modal("show");
				}, 2500);
			});
		</script>

		<script src="/js/ajaxForCart.js"></script>

		<script>
			function openSearch() {
				document.getElementById("search-overlay").style.display = "block";
			}

			function closeSearch() {
				document.getElementById("search-overlay").style.display = "none";
			}
		</script>

		<script>
			$(".single-item").slick({
				arrows: false,
				dots: true,
			});
		</script>
</body>

</html>