<div class="color-theme-1">
  <%- include ('../partials/user-header') %>
  <section class="login-page section-b-space">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h3>Login</h3>
          <div class="theme-card">
            <form class="theme-form" action="/login" method="post">
              <% if (err_msg) { %>
              <label for=""><%= err_msg %> </label>
              <% } %>
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="text"
                  class="form-control"
                  value="minhaj@gmail.com"
                  id="email"
                  name="Email"
                  placeholder="enter your Email"
                  required=""
                />
              </div>
              <div class="form-group">
                <label for="review">Password</label>
                <input
                  type="password"
                  value="123"
                  class="form-control"
                  name="password"
                  id="review"
                  placeholder="Enter your password"
                  required=""
                />
              </div>
              <button type="submit" class="btn btn-solid">Login</button>
            </form>
          </div>
        </div>
        <div class="col-lg-6 right-login">
          <h3>New Customer</h3>
          <div class="theme-card authentication-right">
            <h6 class="title-font">Create A Account</h6>
            <p>
              Sign up for a free account at our store. Registration is quick and
              easy. It allows you to be able to order from our shop. To start
              shopping click register.
            </p>
            <a href="/register" class="btn btn-solid">Create an Account</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include ('../partials/user-footer') %>
</div>
